@media all and (max-width: 600px) {
    .left-sidebar-navigation-items {
        background: white;
        box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
          rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
        height: 5rem;
        width: 100vw;
        list-style: none;
        position: fixed;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 3rem;
        bottom: 0;
        justify-content: space-around;
      }
}